@{
    ViewBag.Title = "Admin Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Dashboard</h2>

<div class="dashboard-cards">

    <div class="card">
        <h3>Total Technologies</h3>
        <p>5</p>
    </div>

    <div class="card">
        <h3>Total Questions</h3>
        <p>120</p>
    </div>

    <div class="card">
        <h3>Total Exams</h3>
        <p>10</p>
    </div>

    <div class="card">
        <h3>Total Students</h3>
        <p>50</p>
    </div>

</div>
