# =========================
# Visual Studio / .NET
# =========================
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pdb
*.dll
*.log

# IIS / ASP.NET
applicationhost.config

# NuGet
packages/
*.nupkg

# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/

# OS files
Thumbs.db
.DS_Store

# Frontend (future-safe)
node_modules/
dist/
