body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.admin-container {
    display: flex;
    height: 100vh;
}


/* Admin Side Bar CSS */
.admin-sidebar {
    width: 240px;
    background-color: #2c3e50;
    color: white;
    padding: 25px 20px;
}

    .admin-sidebar h3 {
        text-align: center;
        font-size: 34px;
        margin-bottom: 30px;
        letter-spacing: 1px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }

    .admin-sidebar ul {
        list-style: none;
        padding: 0;
    }

        .admin-sidebar ul li {
            margin-bottom: 15px;
        }

            .admin-sidebar ul li a {
                display: block;
                padding: 10px 15px;
                font-size: 24px;
                color: white;
                text-decoration: none;
                border-radius: 4px;
                transition: background-color 0.3s;
            }

                .admin-sidebar ul li a:hover {
                    background-color: #1abc9c;
                }



/* Admin Content CSS */
.admin-content {
    flex: 1;
    padding: 40px;
    background-color: #f4f6f8;
}

    .admin-content h2 {
        margin-bottom: 25px;
        font-size: 44px;
    }

    .admin-content > * {
        max-width: 1000px;
    }



/* Admin only Dashboard CSS */
.dashboard-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

    .card h3 {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .card p {
        font-size: 30px;
        font-weight: bold;
        color: #2c3e50;
    }



/* Admin Login Form Styling */
.admin-content form {
    margin-top: 40px;
}

.admin-content label {
    font-size: 28px; 
    font-weight: 400;
    display: block;
    margin-bottom: 2px;
}

.admin-content input[type="text"],
.admin-content input[type="password"] {
    width: 350px; 
    height: 30px; 
    font-size: 20px; 
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.admin-content button {
    margin-top: 15px;
    padding: 12px 30px;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    background-color: #1abc9c;
    color: white;
    cursor: pointer;
}

    .admin-content button:hover {
        background-color: #16a085;
    }

