body {
   margin: 0;
   font-family: Arial, sans-serif;
}
.user-container {
   display: flex;
   height: 100vh;
}
.user-sidebar {
   width: 220px;
   background-color: #2c3e50;
   color: white;
   padding: 20px;
}
.user-sidebar h3 {
   text-align: center;
}
.user-sidebar ul {
   list-style: none;
   padding: 0;
}
.user-sidebar ul li {
   margin: 15px 0;
}
.user-sidebar ul li a {
   color: white;
   text-decoration: none;
   display: block;
   padding: 8px;
   border-radius: 4px;
}
.user-sidebar ul li a:hover {
   background-color: #34495e;
}
.user-content {
   flex: 1;
   padding: 20px;
}


.field-validation-error {
    color: red;
}

.validation-summary-errors {
    color: red;
}

.input-validation-error {
    border: 1px solid red;
}


.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

.login-container {
    width: 420px;
    margin: 80px auto;
    background: #e9ecef;
    padding: 30px;
    border-radius: 6px;
}

.login-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 25px;
}

input.form-control {
    width: 100%;
    height: 34px;
}

.btn-login {
    background-color: #2c3e50;
    color: white;
    padding: 8px 25px;
    border: none;
}

/* ===============================

   FORGOT PASSWORD PAGE STYLES

   =============================== */

/*.fp-body {
    background-color: #f2f4f7;
    font-family: Arial, sans-serif;
}

.fp-container {
    width: 350px;
    margin: 120px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

    .fp-container h2 {
        margin-bottom: 20px;
        color: #333;
    }

.fp-input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.fp-btn {
    width: 100%;
    padding: 10px;
    background-color: #264653;*/ /* Japanese Indigo */

    /*color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    .fp-btn:hover {
        background-color: #1f3a44;
    }

.fp-error {
    color: red;
    font-size: 13px;
}

.fp-success {
    color: green;
    margin-top: 10px;
}*/
 
