body {
    margin: 0;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(120deg, #2c3e50, #1abc9c);
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    background: white;
    padding: 70px;
    border-radius: 14px;
    width: 900px;
    text-align: center;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

    .welcome-container h1 {
        font-size: 50px;
        margin-bottom: 15px;
        margin-top: 15px;
    }

.subtitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 40px;
}

.role-selection {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.role-card {
    flex: 1;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 12px;
    transition: transform 0.3s, box-shadow 0.3s;
}

    .role-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    }

    .role-card h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .role-card p {
        font-size: 15px;
        color: #666;
        margin-bottom: 30px;
    }

.role-button {
    text-decoration: none;
    padding: 14px 30px;
    background-color: #1abc9c;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
}


    .role-button.admin {
        background-color: #2c3e50;
    }
