
@{
    ViewBag.Title = "Home";
}


    <h2>Online Examination System</h2>
    <hr />
    <a href="/User/Register">Register</a> |
    <a href="/User/Login">Login</a> |
    @*<a href="/User/Instructions">New Exam</a> |
    <a href="/User/Report">Report</a>*@

<style>
    .user-content {
        flex: 1;
        padding: 20px;
        background-color: #ecf0f1;
    }
</style>
