
@{
    ViewBag.Title = "Instructions";
}

<h3>Instruction for Technical Test</h3>
<p>• Exam is time bounded</p>
<p>• No negative marking</p>
<p>• Do not refresh page</p>
<p>Time: 2:30</p>
<a href="/User/SelectExam">Start Exam</a> |
<a href="/User/Logout">Logout</a>
