@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Login</h2>

<form>
    <label>Username</label><br />
    <input type="text" /><br /><br />

    <label>Password</label><br />
    <input type="password" /><br /><br />

    <button type="submit">Login</button>
</form>
