@{
    ViewBag.Title = "Add Technology";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Technology</h2>

<form>
    <div style="margin-bottom:15px;">
        <label>Technology Name</label><br />
        <input type="text" placeholder="Enter technology name" />
    </div>

    <button type="submit">Save</button>
    <a href="/AdminTechnology/Index">Cancel</a>
</form>
