@model List<OnlineExaminationSystem.Models.AdminTechnologyViewModel>

@{
    ViewBag.Title = "Technologies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Technologies</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Technology ID</th>
            <th>Technology Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var tech in Model)
        {
            <tr>
                <td>@tech.TechId</td>
                <td>@tech.Name</td>
            </tr>
        }
    </tbody>
</table>
