@{
    ViewBag.Title = "Technologies";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Technologies</h2>



<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Technology ID</th>
            <th>Technology Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>OOPS</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Java</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Python</td>
        </tr>
        <tr>
            <td>4</td>
            <td>C#</td>
        </tr>
    </tbody>
</table>
