@{
    ViewBag.Title = "Add Level";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Level</h2>

<form>
    <div style="margin-bottom:15px;">
        <label>Level Name</label><br />
        <input type="text" placeholder="Enter level name (Easy / Medium / Hard)" />
    </div>

    <button type="submit">Save</button>
    <a href="/AdminLevel/Index">Cancel</a>
</form>
