@{
    ViewBag.Title = "Levels";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Levels</h2>

<table border="1" cellpadding="12" cellspacing="0" style="margin-top:20px; width:400px;">
    <thead>
        <tr>
            <th>Level ID</th>
            <th>Level Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Easy</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Medium</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Hard</td>
        </tr>
    </tbody>
</table>
