@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Exam Results</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Student Name</th>
            <th>Exam Name</th>
            <th>Technology</th>
            <th>Level</th>
            <th>Marks</th>
            <th>Status</th>
            <th>Time Taken (mins)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Anvith Reddy</td>
            <td>Java Basics Test</td>
            <td>Java</td>
            <td>Easy</td>
            <td>8 / 10</td>
            <td style="color:green;">Pass</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Virat Kohli</td>
            <td>Python Advanced Test</td>
            <td>Python</td>
            <td>Hard</td>
            <td>7 / 20</td>
            <td style="color:red;">Fail</td>
            <td>40</td>
        </tr>
    </tbody>
</table>

