@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Students</h2>

<table border="1" cellpadding="10" cellspacing="0">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Registered On</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Anvith Reddy</td>
            <td>anvith@gmail.com</td>
            <td>04-Jan-2026</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Virat Kohli</td>
            <td>vk18@gmail.com</td>
            <td>15-Jan-2026</td>
        </tr>
    </tbody>
</table>
